@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  background: linear-gradient(to right, #434343 0%, black 100%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
}

h1 {
  font-size: 1.8rem;
  color: #00bfff;
  margin-bottom: 10px;
  font-weight: 800;
}

.conversor-imagen {
  width: 80px;
  height: auto;
  position: relative;
  bottom: 20px;
}
.fecha-hora {
  color: #cfcfcf;
}
.texto-tasa {
  color: white;
  font-weight: 600;

}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: min(70%, 400px);
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

.moneda {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 10px;
}

select,
input {
  width: 90%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 12px;
  text-align: center;
  background: #1e1e1e;
  color: #ececec;
  outline: none;
  font-family: "Manrope", sans-serif;
}
select {
  color: #00bfff;
  cursor: pointer;
}

.btn {
  background: #00bfff;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background: #008cba;
}
.bi-arrow-repeat {
  color: white;
  font-size: 1.5rem;
  align-items: center;
}
.bi-arrow-repeat:hover {
  color: #ececec;
}
.taza-cambio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.taza-cambio-container .cambio {
  color: #cfcfcf;
}
.taza-cambio-container .error{
  color: #e60202;
}


footer {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #a5a4a4;
  font-family: Arial, Helvetica, sans-serif
}

@media (max-width: 768px) {
    h1{
        font-size: 1.5rem;
    }
}