


*{
    box-sizing: border-box;
    
}

body{
    
    font-family: "Roboto", sans-serif;
    font-style: normal;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    
}
body p {
    color: #fdfa3c;
    text-align: center;
    
}

h1{
    color:#ffc400;
    font-size: 22px;
    
}

.btn{
    border: 4px solid black;
    background: #ffd900 ;
    cursor: pointer;
    border-radius: 80px;
    padding: 4px 10px;
}
.btn img{
    padding: 10px 15px;
    width: 50px;
    

}

.conversor-imagen{
    width: 80px;
}

.moneda{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.moneda select{
    padding: 10px 20px 10px 10px;
    border: 1px solid #dedede;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #d8d8d8;
}

.moneda input {
    border: 0;
    font-size: 30px;
    text-align: right;
    border-radius: 5px;
    
}


.taza-cambio-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.cambio{
    color:#ffffff;
    font-size: 15px;
    
}


footer{
    color: rgb(121, 121, 121);
    margin-top: 5px;
    font-style: italic;
}
footer a{
    color: aqua;
    text-decoration: none;
    font-style: normal;
}

    
#fechaHora{
    color: #ffffff;
}



@media (max-width:600px) {
    .moneda input{
        width: 200px;
    }
    body {
        font-size: 14px;
      }
    
}
